{% extends "index.html" %}
{% block css %}
{% endblock %}

{% block fill %}
<div class="card hoverable">
    <div class="card-content">
        <div class="card-title">作者 Authors</div>
        {% for au in author_list %}
        <div class="collection">
            <a class="collection-item waves-effect waves-light" href={% url "author_detail" au.author %}>
                {{ au.author }}
            </a>
            {% for a in au.article_set.all %}
            <a class="collection-item waves-effect waves-light" href={% url "article_detail" a.year a.month a.day a.url_suffix %}>
                <time>{{ a.year }}-{{ a.month }}-{{ a.day }}</time>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;{{ a.title }}</span>
            </a>
            {% empty %}
            <a class="collection-item waves-effect waves-light">这位作者目前还没有文章哦~</a>
            {% endfor %}
        </div>
        {% empty %}
        <span>暂无作者</span>
        {% endfor %}
    </div>
</div>
{% endblock %}